* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
    color: inherit;
}

p {
    text-align: justify;
}

cite {
    font-style: normal;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

.teaser {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img,
video {
    width: 100%;
}

.teaser .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2c3e50;
    opacity: 0.5;
}

.teaser .teaser-content {
    position: absolute;
    bottom: 30%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaser-content h1 {
    color: #ecf0f1;
    font-size: calc(0.5rem + 2.5vw);
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0.25rem;
    text-align: center;
    width: 80%;
    margin-bottom: 2rem;
}

.teaser-content .authors {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.teaser .jump-btn-group {
    display: flex;
    justify-content: space-around;
    border: 1px #fff solid;
    border-radius: 4px;
}

.teaser .jump-btn:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.teaser .jump-btn {
    border-left: 0.5px #fff solid;
    min-width: 6rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
}

section {
    margin: 32px auto;
}

section h2 {
    text-align: center;
}

.abstract {
    text-align: justify;
}

.gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    /* padding: 8px 8px 0px 8px; */
}

.paper .gallary:hover {
    border: 1px solid #27ae60;
}
.paper .item-content:hover {
    /* disable the hover*/
    border: 1px solid #dddddd;
}

.item {
    width: 24%;
    position: relative;
    margin-bottom: 8px;
    background-color: #fff;
}

.item-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.item-content:hover {
    border: 1px solid #27ae60;
    border-radius: 10px;
}

.item-content img {
    /* max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-1 {
    width: 96%;
}

.item-2 {
    width: 48%;
}

.item-3 {
    width: 32%;
}

.item-5 {
    width: 19%;
}

#examples_good {
    width: 120%;
    margin-left: -10%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 16px auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.training pre {
    display: flex;
    justify-content: space-between;
}

.training pre code {
    width: 48%;
    font-size: 0.8em;
}

.list_losses {
    width: 90%;
    margin: auto;
}

.card-content,
.list_losses p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-content > :first-child {
    margin-top: 0;
}
.card-content > :last-child {
    margin-bottom: 0;
}

.card-title,
.list_losses>span {
    display: block;
    background: steelblue;
    color: white;

    padding: .5rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.legend {
    font-size: 1.3rem;
    position: absolute;
    text-align: center;
    line-height: 30px;
    align-items: center;
    /* margin: 8px; */
    background: #010101;
    color: #fff;
    display: inline-block;
    width: 30px;
    /* height: 16px; */
    border-radius: 50%;
    /* border: 2px solid #f7f7f7; */
    bottom: 0;
    transform: translateX(-50%);
    font-weight: bold;
}

.collapsible { 
    text-align: left;
}

.active, 
.collapsible:hover {
    background-color: #ccc;
  }

.section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.active + .section-content {
    overflow: initial;

}

.collapsible:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    /* float: ; */
    line-height: 2.2em; /* hardcode*/
  }
  
  .active::before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .dropdown {
    /* position: relative;
    display: inline-block; */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    border: 0.5px #fff solid;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    border-top: 0.5px #fff solid;
    min-width: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 12px 16px;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
